@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('/static/fonts/Inter-VariableFont_slnt,wght.ttf') format('tff');
}

:root {
  font-size: 0.9rem;

  --ifm-color-primary: hsl(202, 82%, 60%);
  --ifm-color-primary-dark: hsl(202, 82%, 56%);
  --ifm-color-primary-darker: hsl(202, 82%, 53%);
  --ifm-color-primary-darkest: hsl(202, 82%, 47%);
  --ifm-color-primary-light: hsl(202, 82%, 65%);
  --ifm-color-primary-lighter: hsl(202, 82%, 67%);
  --ifm-color-primary-lightest: hsl(202, 82%, 74%);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-font-family-base: 'Inter';
}

html {
  background: hsl(225, 8%, 15%);
}

.navbar {
  background: hsl(225, 8%, 12%);
}

.container {
  padding: 4rem;
}

.tabs {
  background: hsl(225, 8%, 12%);
  border-radius: 4px;
}

.tabs__item {
  padding: 8px 16px;
  font-size: 0.9em;
}

.tabs__item:hover {
  background: none;
  color: gray;
}

.tabs__item[aria-selected='true']:hover {
  background: none;
  color: var(--ifm-color-primary);
}

table {
  font-size: 0.9em;
}

.language-curl .token-line {
  filter: brightness(255);
}

.token.constant {
  color: inherit !important;
}

hr {
  background: var(--ifm-toc-border-color);
}

h3 {
  font-family: monospace;
  font-size: 2rem;
}

.homepage-glow {
  background: linear-gradient(180deg, rgba(37, 99, 235, 0.05) 0%, rgba(37, 99, 235, 0) 100%),
    radial-gradient(40.09% 30.09% at 50% 39.36%, rgba(37, 99, 235, 0.25) 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(46.09% 46.09% at 50% 36.36%, rgba(37, 99, 235, 0.1) 0%, rgba(0, 0, 0, 0) 100%),
    #171717;
}
